@import url('fontkit.css');

body {
	font-family: 'FFDINWebPro', sans-serif;
	color: #808284;
}

.navbar {
	text-transform: uppercase;
	background-color: #fff;
	margin-bottom: 0;
}

.navbar-brand {
	font-size: 1em;
	line-height: 1em;
	height: auto;
	padding: 0;
	padding-top: 1em;
}

a:focus, a:active,
button,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    outline: none !important;
}

.navbar-default .navbar-nav>li>a.phone {
	color: #FD9D2E;
}

.navbar-default .navbar-nav>li>a {
	color: #808284;
}

.navbar-default .navbar-nav>li.current-menu-item>a, .navbar-default .navbar-nav>li.current-page-item>a {
	text-decoration: underline;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #B9D635;
	height: 3px;
}

.navbar-default .navbar-toggle {
	border: none;
	background-color: transparent;
}

.extole-header {
	background-color:#FD9D2E;
	color:#FFFFFF;
	padding:2px;
	height: 36px;
}

.extole-header .text {
	padding-right: 15px;
}


.footer {
	position: relative;
	background: url(../images/footer-bg.png) #dadcdd;
}

.badge {
	font-weight: 400;
	background-color: #fff;
	border: 1px solid #808284;
	color: #808284;
	border-radius: 11px;
	padding: 5px 7px 3px;
	margin-top: -2px;
}

/* jumbotron for specific pages */

.jumbotron {
	position: relative;
	background-color: #ccc;
	background-position: center;
	width: 100%;
	height: 100%;
	background-size: cover;
	overflow: hidden;
	text-align: center;
	color: #fff;
	-webkit-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
	-moz-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
	box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
	display: table;
	margin-bottom: 30px;
}

.jumbotron .container {
	display: table-cell;
	vertical-align: middle;
}

.jumbotron h1 {
	font-family: 'FFDINWebPro', sans-serif;
	text-transform: lowercase;
	text-shadow: 1px 1px 4px rgba(100, 100, 100, 1);
	line-height: 1;
	padding-bottom: 0;
	margin-bottom: .1em;
}

.jumbotron h2 {
	text-shadow: 1px 1px 4px rgba(100, 100, 100, 1);
	padding-top: 0;
	margin-top: 0;
	margin-bottom: .5em;
}

.thanks-page {
	background-image: url(../images/photos/woman-curled-on-pink-dream-bed.jpg);
	background-position: center;
	top: -35px;
	margin-bottom: -35px;
}

.jumbotron {
	-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 480px, calc(50% + 20px) 480px, 50% 100%, calc(50% - 20px) 480px, 0 480px);
	clip-path: polygon(0% 0%, 100% 0%, 100% 480px, 53% 480px, 50% 100%, 47% 480px, 0 480px);
}

.shop-now-main {
	background-image: url(../images/photos/two-dreamy-options-man-wide.jpg);
	background-position: top;
	margin-bottom: 0;
	z-index: 1000;
}

/* begin carousel customization */

.slider-size {
	height: 500px;
	background-position: center;
	background-color: #999;
	/*-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 480px, calc(50% + 20px) 480px, 50% 100%, calc(50% - 20px) 480px, 0 480px);
	clip-path: polygon(0% 0%, 100% 0%, 100% 480px, 53% 480px, 50% 100%, 47% 480px, 0 480px);*/
	background-size: cover;
	-webkit-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
	-moz-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
	box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
}

.carousel {
	width:100%; 
	margin:0 auto;
	
}

.carousel-caption {
	right: 0;
	left: 0;
	text-align: center;
	bottom: auto;
	top: 0; /* use 200px if you want this vertically aligned */
}

.carousel-inner {
  -webkit-transform-style: preserve-3d;
}

.carousel h1 {
	font-family: 'FFDINWebPro', sans-serif;
	text-shadow: 1px 1px 4px rgba(100, 100, 100, 1);
	line-height: 1;
	padding-bottom: 0;
	margin-bottom: .1em;
}

.carousel h2 {
	text-shadow: 1px 1px 4px rgba(100, 100, 100, 1);
	padding-top: 0;
	margin-top: 0;
	margin-bottom: .5em;
}

/* begin carousel customization */

/* customized non-round buttons */

.btn-dream {
	background-color: #FD9D2E;
	border-color: #FD9D2E;
 	filter:progid:DXImageTransform.Microsoft.Gradient(enabled='false');
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-image: none;
	border: 0;
	color: #F9FBED;
	text-transform: uppercase;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.btn-dream:hover, .btn-dream:focus, .btn-dream:active, .btn-dream.active {
	background-color: #FDA641;
	border-color: #FDA641;
	color: #fff;
}

.btn-dream.disabled:hover, .btn-dream.disabled:focus, .btn-dream.disabled:active, .btn-dream.disabled.active, .btn-dream[disabled]:hover, .btn-dream[disabled]:focus, .btn-dream[disabled]:active, .btn-dream[disabled].active, fieldset[disabled] .btn-dream:hover, fieldset[disabled] .btn-dream:focus, fieldset[disabled] .btn-dream:active, fieldset[disabled] .btn-dream.active {
	background-color: #FD9D2E;
	border-color: #FD9D2E;
}

.btn-dreaminv {
	background-color: #808284;
	border-color: #808284;
 	filter:progid:DXImageTransform.Microsoft.Gradient(enabled='false');
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-image: none;
	border: 0;
	color: #fff;
	text-transform: uppercase;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.btn-dreaminv:hover, .btn-dreaminv:focus, .btn-dreaminv:active, .btn-dreaminv.active {
	background-color: #5D5F60;
	border-color: #5D5F60;
	color: #fff;
}

.btn-dreaminv.disabled:hover, .btn-dreaminv.disabled:focus, .btn-dreaminv.disabled:active, .btn-dreaminv.disabled.active, .btn-dreaminv[disabled]:hover, .btn-dreaminv[disabled]:focus, .btn-dreaminv[disabled]:active, .btn-dreaminv[disabled].active, fieldset[disabled] .btn-dreaminv:hover, fieldset[disabled] .btn-dreaminv:focus, fieldset[disabled] .btn-dreaminv:active, fieldset[disabled] .btn-dreaminv.active {
	background-color: #808284;
	border-color: #808284;
}

.btn-dream-link {
	background-color: transparent;
	border-color: transparent;
 	filter:progid:DXImageTransform.Microsoft.Gradient(enabled='false');
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-image: none;
	border: 0;
	color: #FD9D2E;
	text-transform: uppercase;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.btn-dream-link:hover, .btn-dream-link:focus, .btn-dream-link:active, .btn-dream-link.active {
	background-color: rgba(255,255,255,.04);
	border-color: transparent;
	color: #FBA54C;
	filter:progid:DXImageTransform.Microsoft.Gradient(enabled='false');
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.btn-dream-link:active, .btn-dream-link.active {
	background-color: rgba(255,255,255,.08);
}
/*
.shop-badge-text {
	padding-top:30px;
	padding-bottom:30px;
}
*/

.shop-badges {
	text-align: center;
}

.shop-badge-img {
	width: 180px;
	height: auto;
}

.footer {
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #fff;
	background-position: 0 -10px;
	color: #808284;
}

.footer a {
	color: #808284;
}

.footer .footer-logo {
	margin-bottom: 20px;
}

.footer h4 {
	font-size: 1em;
	font-weight: 700;
	margin-top: 0;
	text-transform: lowercase;
}

.footer .footer-nav {
	text-transform: uppercase;
	list-style: none;
}

.footer .footer-social {
	text-transform: uppercase;
	list-style: none;
}

.footer .footer-social img {
	vertical-align: text-bottom;
	margin-right: 12px;
}

.footer .footer-contact {
}

.footer .footer-contact a {
	text-transform: uppercase;
	color: #808284;
}


.footer .footer-contact a.email {
	color: #FD9D2E;
}

.footer .footer-contact a.phone:hover {
	text-decoration: none;
}

.footer .footer-contact ul {
}

.footer .footer-newsletter input {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
 .newsletter-email::-webkit-input-placeholder {
 color: #808284;
}
 .newsletter-email:-moz-placeholder {
 color: #808284;
}
 .newsletter-email::-moz-placeholder {
 color: #808284;
}
 .newsletter-email:-ms-input-placeholder {
 color: #808284;
}

.page-header {
	margin: 0;
	border-bottom: none;
	text-align: center;
}

.page-header h2 {
	line-height: 1;
	margin: 0;
}

.alternate {
	margin-bottom: 30px;
}

.alternate > div {
	text-align: center;
}

.alternate .inside {
	margin-top: 0;
	margin-bottom: 0;
}

.alternate > div p:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
}

.alternate .alt-side-image {
	height: 100%;
	background-postion: center;
	background-size: cover;
	/* ask me about this ridiculousness !! */
	border-left: 15px solid #fff;
	border-right: 15px solid #fff;
	color: #fff;
}

.alternate h2 {
	margin: .7em auto 130px;
	text-shadow: 1px 1px 4px rgba(100, 100, 100, 1);
}

.alternate h3 {
	margin: .7em auto;
}

.same {
	padding-bottom: 30px;
	margin-top: 30px;
}

.same > div {
	text-align: center;
	background-postion: center;
	background-size: cover;
	border-left: 15px solid #fff;
	border-right: 15px solid #fff;
	color: #fff;
	height: 300px;
	margin-bottom: 30px;
}

.same .inner {
	position: absolute;
	bottom: 30px;
	width: calc(100% - 30px);
	text-align: center;
}

.same > div p:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
}

.same h3 {
	text-shadow: 0 1px 4px rgba(100, 100, 100, 1);
}

.alt-side-image h3 {
	text-shadow: 2px 2px 4px rgba(100, 100, 100, 1);
}

.callout-number {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	color: #fff;
	line-height: 1.1;
	background-image: url(../images/bg-callout-number@2x.png);
	background-size: 72px 72px;
}

.giving {
	text-align: center;
	padding-bottom: 40px;
}

.giving h2 {
	margin-bottom: .2em;
}

.giving .box {
	display: inline-block;
}

.alt-side > div {
	background-color: #F1F2F2;
}

.alternate .inside {
	min-height: 225px;
}

.bordered-action {
	position: absolute;
	bottom: 30px;
	width: 100%;
	text-align: center;
	left: 0;
}

#home-bottom .inside {
	position: absolute; 
	bottom: 20px;	
}

#home-bottom h3 {
	text-shadow: 1px 1px 4px rgba(100, 100, 100, 1);
}

.home-review-box {
	background-image: url(../images/photos/feet-hanging-off-bed.jpg);
	background-size: cover;
	background-color: #F1F2F2;
}

.home-unboxing-box {
	background-image: none; 
	background-color: #F1F2F2;
}

.home-unboxing-box .inside {
	color: #808284;
}

.home-donation-box {
	background-image: url(../images/photos/girl-crawling-in-box-with-dream-pillow.jpg); 
	background-color: #F1F2F2;	
}

.shop-day-guarantee {
	padding-bottom: 30px;
}

.light-grey-fill {
	padding: 20px 0;
	background-color: #f2f2f2;	
}

.go-under-jumbotron {
	margin-top: -20px;
}

.home-middle1 {
	background-image: url(../images/photos/blue-box-on-stoop.jpg); 
	background-color: #999;	
}

.home-middle2 {
	background-image: url(../images/photos/girl-on-pink-bed.jpg); 
	background-color: #999;	
}

.home-bed-options {
	padding-bottom: 30px;
}

.special-circles {
	margin-top: 30px;
}

.special-circles img {
	display: block;
	width: 80%;
	height: auto;
}

.special-circles p {
	margin-left: 10%;
	width: 80%;
}

.special-circles h3 {
	margin-left: 5%;
	width: 90%;
	margin-top: 0;
}

.jump-on-bed {
	height: 534px;
	background-image: url(../images/photos/kids-jumping-on-dream-bed.jpg);
	background-position: top center;	
	position: relative; 
	width: 100%;
	padding: 0;
}

.jump-on-bed-cta {
	position: absolute;
	top: 441px;
	text-align: center;
	width: 100%;
	padding: 0;
}

.dream-it-fwd {
	background: url(../images/photos/dream-it-fwd-mattress.jpg) no-repeat;
	background-size: cover;
	height: 411px;
	background-position: top right -160px;
}

.dream-it-fwd-content {
	text-align: center;
}

.dream-it-fwd-content img {
	margin: 20px auto;
	width: 218px;
	height: auto;
}

.dream-it-fwd h3 {
	text-shadow: 1px 1px 4px rgba(100, 100, 100, 1);
	color: #fff;
	font-weight: 700;
	margin-top: 0;
	font-size: 20px;
}

.dream-it-forward-jumbo {
	background-image: url(../images/photos/dream-it-fwd-mattress-delivery.jpg);
	-webkit-clip-path: none;
	clip-path: none;
	margin-bottom: 0;
}

.dream-it-forward-jumbo h1 {
	text-transform: none;
	margin-bottom: 20px;
}

.home-find-store p:last-child {
	margin-bottom: 50px;
}

.home-review-box h3 {
	line-height: 1;
	margin-top: 0;
}

.fivestars {
	margin-bottom: 17px;
}

h2.bedcount {
	font-family: 'FFDINWebPro', sans-serif;
	text-transform: lowercase;
	line-height: 1;
	padding-bottom: 0;
	margin-bottom: .1em;
	font-size: 3.571em;
	margin-top: 1.5em;
}

.products {
	margin-bottom: 30px;
}

.products h3 {
	font-weight: 700;
	margin-bottom: .1em;
	color: #FF6B00;
}

.products h3 a {
	color: #FF6B00;
	text-decoration: none;
}

.products .product-img {
	width: 100%;
	max-width: 100%;
	height: auto;
	display: block;
}

.products .product-text {
	width: 75%;
	margin: 0 auto;
}

.products div div:last-child .product h3 {
	color: #61B4E4; /* as long as cool dream is the last product, this'll make it blue */
}

.products div div:last-child .product h3 a {
	color: #61B4E4;
}

.products .or-text {
	position: relative;
	top: 70px;
	width: 10%;
	left: 45%;
	text-align: center;
}

.product-image-cta {
	position: relative;
}

.product-image-cta .product-cta {
	position: absolute;
	bottom: 35px;
	width: 100%;
}

.design-page .row, .giving-page .row  {
	margin-bottom: 30px;
}

.team-page {
	margin-bottom: 30px;
}

.team-page .light-grey-fill {
	margin-top: 30px;
	margin-bottom: 30px;
}

.team-page .insta .row {
	margin-bottom: 30px;
}

.how-we-dream > div {
	padding-left: 30px;
	padding-right: 30px;
}

.design-page .img-responsive {
	margin-bottom: 30px;
}

.original {
	color: #FF6B00;
}

.original a {
	color: #FF6B00;
}

.cool {
	color: #61B4E4;
}

.cool a {
	color: #61B4E4;
}

.reviews-page .row {
	margin-bottom: 30px;
}
	
.stars img {
	height: 24px;
	width: 150px;
}

.review-personal-text h3 {
	margin-top: 0;
}

.review-personal-text .reviewer {
	font-weight: 700;
}

.review-personal-text .iconset img {
	height: 40px;
	width: auto;
	vertical-align: middle;
	margin-right: 10px;
}

.review-header small {
	display: block;
}

.review-header img {
	width: auto;
	height: 24px;
	vertical-align: middle;
	margin-left: 4px;
}

.how-to-dream-page {
	padding-top: 30px;
	padding-bottom: 30px; 
}

.basic-page {
	padding-top: 30px;
	padding-bottom: 30px; 
}

.how-to-dream-page .editable-content {
	padding-bottom: 30px; 
}

.nav-tabs {
	text-transform: uppercase;
}

.nav-tabs.nav-justified>li>a {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:hover, .nav-tabs.nav-justified>.active>a:focus {
	border-bottom-color: #DDDDDD;
	color: #FF9E14;
	background-color: #F2F2F2;
	border-right: none;
}

.nav-tabs.nav-justified>li>a:hover {
	background-color: #fff;
	color: #FF9E14;
}

.nav-tabs.nav-justified>li>a {
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
}	

.nav-tabs.nav-justified>li:last-child>a {
	border-right: 1px solid #DDDDDD;
}

.tab-pane {
	border: 1px solid #DDDDDD;
	padding: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.tab-pane h3:first-child {
	margin-top: 0;
}

.tab-pane p:last-child {
	margin-bottom: 0;
}

.faq-footer {
	font-size: 1.429em;
	padding-bottom: 30px;
}

.faq-footer a:hover {
	text-decoration: none;
}

.faq-footer .email {
	color: #FD9D2E;
	text-transform: uppercase;
}

.faq-footer .phone {
	color: #808284;
}

/* buttons for shop radios */

.btn-dream-size {
	background-color: #fff;
	border-color: #808284;
 	filter:progid:DXImageTransform.Microsoft.Gradient(enabled='false');
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-image: none;
	color: #808284;
	text-transform: uppercase;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	width: 50%;
	margin-top: -1px;
}

.btn-dream-size:first-child {
	
}

.btn-dream-size:hover, .btn-dream-size:focus {
	background-color: #fff;
	border-color: #808284;
	color: #FF9E14;
}

.btn-dream-size:active, .btn-dream-size.active {
	background-color: #F2F2F2;
	border-color: #808284;
	color: #FF9E14;
}

.btn-dream-size.disabled:hover, .btn-dream-size.disabled:focus, .btn-dream-size.disabled:active, .btn-dream-size.disabled.active, .btn-dream[disabled]:hover, .btn-dream-size[disabled]:focus, .btn-dream[disabled]:active, .btn-dream[disabled].active, fieldset[disabled] .btn-dream-size:hover, fieldset[disabled] .btn-dream:focus, fieldset[disabled] .btn-dream-size:active, fieldset[disabled] .btn-dream-size.active {
	background-color: #FD9D2E;
	border-color: #FD9D2E;
}

.mattress-overview h1 {
	text-align: center;
	font-size: 2.143em;	
}


.mattress-add-ons > div {
	border: 1px solid #808284;
	padding: 4px;
}

.mattress-add-ons img.q {
	width: 16px;
	height: 16px;
	margin-left: 5px;
	vertical-align: -1px
}

.mattress-add-ons .price {
	display: block;
	
}

.mattress-add-cart {
	text-align: center;	
}

.mattress-add-cart .price {
	font-size: 1.714em;
}

.promise-text {
	margin-top: 30px;
	margin-bottom: 30px;
}

.promise-text img {
	margin-right: 30px;
	float:left!important;
}

.promise-text h3 {
	font-size: 3.571em;
	color: #808284;
}

.btn-breadcrumb {
	width: 100%;
	margin-top: 2px;
}

.thanks-down {
	position: relative;
	top: 40px;
	z-index: 1000;
}

.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

.btn-breadcrumb .btn {
  padding:8px 12px 8px 24px;
  text-transform: uppercase;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	width: 33%;
}

.btn-breadcrumb .btn.disabled {
	opacity: 1;
}

.btn-breadcrumb .btn:first-child {
  padding:8px 6px 8px 10px;
}

.btn-breadcrumb .btn:hover {
  filter:progid:DXImageTransform.Microsoft.Gradient(enabled='false');
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.btn-breadcrumb .btn:last-child {
  padding:8px 18px 8px 24px;
  width: 34%;
}

.btn-breadcrumb .show {
	color: #FF9E14;
}

/** Default button **/
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
  border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
  border-left: 10px solid #ccc;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
  border-left: 10px solid #ebebeb;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
  border-left: 10px solid #adadad;
}

.thanks-text {
	margin-bottom: 30px;
	
}

.thanks-text a.email {
	color: #FD9D2E;
	text-transform: uppercase;
}

.thanks-text a.phone {
	color: #808284;
}

.thanks-text ul.contact {
	font-size: 1.429em;
}

.thanks-text a.phone:hover {
	text-decoration: none;
}

.footer-newsletter  {
	margin-bottom: .7em;
}

.footer-newsletter .gfield_label {
	display: none;
}

.footer-newsletter .gform_wrapper .button, .footer-newsletter .gform_button {
	border-color: #FD9D2E;
	background-color: #FDA641;
}

.footer-newsletter .gform_button:hover, .footer-newsletter .gform_button:focus, .footer-newsletter .gform_button:active, .footer-newsletter .gform_button.active, .open .dropdown-toggle.gform_button {
	border-color: #FDA641;
	background-color: #FDA641;
	color: #fff;
}

.footer-newsletter .gform_wrapper .button:hover, .footer-newsletter .gform_button:hover, .footer-newsletter .gform_button:focus {
	border-color: #FDA641;
	background-color: #FDA641;
	color: #fff;
}

.footer-newsletter .ginput_container {
	display:inline-block;
	float: left;
	width: 62%;
}

.footer-newsletter .gform_footer {
	display:inline-block;
	float: left;
	width: auto;
	margin-bottom: 0;
}

.footer-newsletter .input#gform_submit_button_1.gform_button.button {
	float: right;
}

.footer-refer {
	
}


/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

body {
	padding-top: 82px;	
}

.navbar-brand {
	position: absolute;
	left: 15px;
	top: 15px;
	text-align: left;
	margin: auto;
}

.navbar-brand img {
	margin: 0 auto;
	width: 135px;
	height: auto;
	margin-top: 0;
}

.jumbotron h1 {
	font-size: 2.857em;
	/*margin-bottom: 15px;*/
}

.jumbotron {
	height: 300px;
	min-height: 300px;
}

.carousel h1 {
	font-size: 2.857em;/*margin-bottom: 15px;*/
}

.page-header {
	padding: 15px;
}

.page-header h2 {
	font-size: 2.143em;
}

.alternate {
	margin-bottom: 15px;
	padding-top: 15px;
}

.callout-number {
	width: 36px;
	height: 36px;
	padding: 8px 13px;
	font-size: 20px;
	background: url(../images/bg-callout-number@2x.png) center no-repeat transparent;
	background-size: 36px 36px;
}

.giving h2 {
	font-size: 24px;
}

.giving .box img.block {
	width: 50px;
	height: 50px;
}

.giving .box img.math {
	width: 17px;
	height: 17px;
	margin-left: 18px;
	margin-right: 18px;
}

.alternate .inside {
	padding: 30px;
}

.home-bed-options .btn {
	width: 180px;
	margin: 0 20px 1em;
	vertical-align: 4px;
}

.home-bed-options h2 {
	font-size: 2.857em;
	color: #808284;	
	margin: 0 0 30px;
}

.or-text {
	font-size: 2.857em;
	color: #808284;	
	margin: 0;
	padding: 0;
	line-height: 1;
}

.btn-lg {
	padding-left: 20px;
	padding-right: 20px;
	font-size: 1em;
	font-weight: 700;
}

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

.callout-number {
	width: 36px;
	height: 36px;
	padding: 8px 13px;
	font-size: 20px;
	background: url(../images/bg-callout-number.png) center no-repeat transparent;
	background-size: 36px 36px;
}

.btn-breadcrumb {
	width: 100%;
	margin-top: 0
}

.dream-it-fwd {
	background-position: top right -100px;
	padding-top: 15px;
}


.dream-it-fwd h3 {
	font-size: 1.143em;
}

.shop-badge-text {
	padding-top: 30px;
}

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

body {
	padding-top: 133px;	/* this is for the fixed navbar - take out if not using */
}

.dream-it-fwd {
	background-position: right top;
	padding-top: 0;
}

.navbar-brand {
	position: absolute;
	width: 100%;
	text-align: center;
	margin: auto;
}

.navbar-brand img {
	margin: 0 auto;
	width: 110px;
	height: auto;
	margin-top: 33px;
}

.navbar-nav>li>a {
	padding-top: 38px;
	padding-bottom: 38px;
}

.btn-lg {
	padding-left: 20px;
	padding-right: 20px;
	font-size: 1.286em;
	font-weight: 400;
}

.jumbotron h1 {
	font-size: 3.571em;/*margin-bottom: 25px;*/
}

.carousel h1 {
	font-size: 3.571em;/*margin-bottom: 25px;*/
}

.page-header h2 {
	font-size: 2.857em;
}

.footer {
	padding-top: 30px;
	padding-bottom: 30px;
}

.alternate {
	display: table;
	table-layout: fixed;
	height: 100%;
	width: 100%;
}

.alternate > div {
	display: table-cell;
	float: none;
	height: 100%;
}

.reasons .alternate > div {
	padding: 40px 20px;
}

.alternate .inside {
	height: 100%;
}

.callout-number {
	width: 72px;
	height: 72px;
	padding: 16px 26px;
	font-size: 40px;
	background: url(../images/bg-callout-number@2x.png) center no-repeat transparent;
}

.giving .box img.block {
	width: 88px;
	height: 88px;
}

.giving .box img.math {
	width: 30px;
	height: 30px;
	margin-left: 40px;
	margin-right: 40px;
}

.shop-badge-text {
	padding-top: 0;
}

.vertical-align {
	display: flex;
	flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
	display: flex;
	align-items: center;
	justify-content: center; 
	
}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

.navbar-brand {
	padding-left: 0;
}

.navbar-brand img {
	margin: 0 auto;
	width: 220px;
	height: auto;
	margin-top: 20px;
}

.dream-it-fwd {
	background-position: top center;
}

.dream-it-fwd h3 {
	font-size: 1.429em;
}

.giving h2 {
	font-size: 40px;
}

.jumbotron h1 {
	font-size: 4.286em;
	/*margin-bottom: 45px;*/
}

.jumbotron {
	height: 500px;
	min-height: 500px;
}

.page-header {
	padding: 25px;
}

.footer {
	padding-top: 60px;
	padding-bottom: 30px;
}

.footer .footer-logo {
	margin-top: 20px;
}

.alternate {
	margin-bottom: 30px;
	padding-top: 30px;
}

.alternate .col-sm-6 .inside {
	padding: 30px;
}

.btn-dream {
	padding: 6px 32px;	
}

.btn-lg {
	padding: 14px 32px 12px;
	font-size: 1.429em;
	font-weight: 400;
}

.footer .btn-dream {
	padding: 7px 12px;	
}

.home-bed-options .btn {
	margin-bottom: 0;
	width: 250px;
	margin: 0 40px 0;
}

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}

/* Retina-specific stuff here */

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

.footer {
	position: relative;
	background-image: url(../images/footer-bg@2x.png);
	background-size: 35px 66px;
}

.callout-number {
	background-image: url(../images/bg-callout-number@2x.png);
	background-size: 72px 72px;
}
}

@media (-webkit-min-device-pixel-ratio: 2) and (max-width : 767px) {

.callout-number {
	background-image: url(../images/bg-callout-number@2x.png);
	background-size: 36px 36px;
}
}
