
body {
	color: #828282;
}

body.single-product .woocommerce-breadcrumb {
	display: none;
}

a {
    color: #828282;
    text-decoration: none;
}

button,
a.button,
input.button {
    text-transform: uppercase;
}

#main .woocommerce {
    margin-bottom: 40px;
}

.woocommerce #respond input#submit,
.woocommerce a.button, .woocommerce button.button,
.woocommerce input.button {
	border-radius: 0;
}
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
	background-color: #FF9E14;
}
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
	background-color: #808284;
}


/* Icons */

.woocommerce .woocommerce-message::before {
	color: #FF9E14;
}
.woocommerce .woocommerce-info {
    border-top-color: #FF9E14;
}
.woocommerce .woocommerce-info:before {
    color: #FF9E14;
}


/*--------------------------------------------------------------
# Product Page
--------------------------------------------------------------*/

.mattress-overview {
    padding-left: 60px;
    padding-right: 65px;
    padding-top: 32px;
}

/* Product Slider Image */

.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images {
    float: left;
    width: 100%;
}
.woocommerce #content div.product div.thumbnails a,
.woocommerce div.product div.thumbnails a,
.woocommerce-page #content div.product div.thumbnails a,
.woocommerce-page div.product div.thumbnails a {
    float: left;
    width: 100%;
    margin-right: 3.8%;
    margin-bottom: 1em;
}

#product-slider .carousel-indicators {
	bottom: 0;
}

/* Product Options */

.tm-epo-variation-section .reset_variations,
.tm-extra-product-options .tm-epo-field-label {
	display: none !important;
}
.tm-epo-field-label.tm-left + .tm-extra-product-options-container li.tmcp-field-wrap,
.tm-epo-field-label.tm-right + .tm-extra-product-options-container li.tmcp-field-wrap {
	padding: 0;
}
.tm-epo-field-label.tm-left + .tm-extra-product-options-container,
.tm-epo-field-label.tm-right + .tm-extra-product-options-container {
    max-width: 100%;
    width: 100% !important;
}

.tm-variation-ul-radio li {
    display: inline-block;
    width: 50% !important;
    border: 1px solid #828282;
    text-align: center;
    text-transform: uppercase;
}
.tm-variation-ul-radio li,
.tm-variation-ul-radio li label {
    cursor: pointer;
}
.tm-extra-product-options .tmcp-field-wrap > label {
    display: block;
    float: none;
    width: 100%;
    padding: 0;
    margin: 0;
    line-height: 40px;
    height: 40px;
    font-weight: 400;
}
.tm-variation-ul-radio li:hover {
	color: #FF9E14;
}
.tm-variation-ul-radio li.active {
    background-color: #efefef;
    color: #FF9E14;
}
.tm-variation-ul-radio li:nth-child(even) {
	border-top-width: 0;
	border-left-width: 0;
}
.tm-variation-ul-radio li:nth-child(odd) {
	border-top-width: 0;
}
.tm-variation-ul-radio li:nth-child(1),
.tm-variation-ul-radio li:nth-child(2) {
    border-top-width: 1px;
}
.tm-variation-ul-radio li:last-child {
    border-right-width: 1px;
}
.tm-variation-ul-radio li input[type="radio"] {
	display: none;
}
.tm-variation-ul-radio li label {
	
}

/* Cross Sell */

.tm-extra-product-options .col-12,
.tm-extra-product-options .tm-cell.col-12 {
    margin: 0;
}
.tm-extra-product-options ul.tmcp-elements li.tmcp-field-wrap {
    padding: 0;
}
.tm-quantity.tm-right + .tm-field-display {
	border: 1px solid #828282;
	width: 100%;
    text-align: left;
    padding: 10px;
}

/* Extra Images */

#extra-images {
	margin-bottom: 125px;
}
#extra-images .stacked-image {
	padding: 30px 0;
}
#stacked-images {
	margin-bottom: 50px;
}
#featured-product-reviews {
	margin-bottom: 85px;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
	color: #828282;
}

.single_variation_wrap {
    text-align: center;
    font-size: 20px;
}
.single_variation {
    display: inline-block;
}

/* Add to Cart */

.variations_button {
	margin-left: -10px;
    margin-right: -10px;
}
button.single_add_to_cart_button {
    width: 100%;
    height: 50px;
    margin-top: 5px;
    font-size: 20px;
}

/* Reviews */

#customers-saying {
	margin-bottom: 30px;
}
#customers-saying .review {
	background-color: #F1F2F2;
	padding: 30px;
}

#featured-product-reviews h3 {
    font-size: 30px;
    text-align: center;
    margin-top: 0;
}

/*--------------------------------------------------------------
# Cart
--------------------------------------------------------------*/


.woocommerce table.shop_table {
    margin: 0 -1px 24px 0;
    border-radius: 0;
    border-width: 0;
}
.woocommerce-cart table.cart td,
.woocommerce-cart table.cart th {
    border-color: #828282;
}

.woocommerce a.remove:hover {
    background: #FF9E14;
}
.woocommerce a.remove {
    color: #FF9E14!important;
}

.woocommerce-cart table.cart tr:last-child td {
    padding: 25px 0 0;
}

.woocommerce-cart table.cart .product-thumbnail {
    width: 75px;
}

.woocommerce td.product-name dl.variation {
    margin: 0;
}
.woocommerce td.product-name dl.variation dd {
    padding: 0;
}
.woocommerce td.product-name dl.variation dd,
.woocommerce td.product-name dl.variation dt {
    margin-bottom: 0;
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
    margin-bottom: 0;
    height: 50px;
    line-height: 35px;
}

/* Collaterals */

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
    float: none;
    width: auto;
}

.cart-collaterals .coupon label {
	display: none;
}
.cart-collaterals .cart_totals h2 {
	display: none;
}

.cart-collaterals .coupon {
    border-style: solid;
    border-color: #231F20;
    border-width: 1px 1px 0;
    padding: 10px;
}
.cart-collaterals .cart_totals {
    border-style: solid;
    border-color: #231F20;
    border-width: 0 1px 1px;
    padding: 10px;
}
.cart-collaterals .coupon input {
    border-width: 0;
    border-radius: 0;
}
.cart-collaterals .coupon input.input-text {
    background-color: #F8F8F8;
    padding: 6px 15px;
}
.cart-collaterals .coupon input.button {
    background-color: #808284;
    color: #fff;
}

a.continue.shopping {
    color: #FF9E14;
    font-size: 20px;
    background: url(../images/icon-arrow-back.png) no-repeat scroll left 5px;
    padding-left: 12px;
    text-transform: uppercase;
    margin-top: -50px;
    position: absolute;
}

.cart-collaterals .coupon {
    border-style: solid;
    border-color: #231F20;
    border-width: 1px 1px 0;
    padding: 10px;
    position: relative;
    height: 61px;
    width: 100%;
}
.cart-collaterals .coupon input.input-text {
    background-color: #F8F8F8;
    padding: 6px 15px;
    height: 40px;
    padding-right: 100px;
    width: 100%;
    display: inline-block;
}
.cart-collaterals .coupon input.button {
    background-color: #808284;
    color: #fff;
    width: 90px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.woocommerce-cart .cart-collaterals .cart_totals table {
    width: 100%;
    font-size: 16px;
}
.woocommerce-cart .cart-collaterals .cart_totals tr td,
.woocommerce-cart .cart-collaterals .cart_totals tr th {
    border-top-width: 0;
    padding: 0;
}
.woocommerce-cart .cart-collaterals .cart_totals tr td:nth-child(even) {
    text-align: right;
}

.cart-collaterals tr.cart-subtotal {
    display: none;
}
.cart-collaterals tr.shipping form {
	display: none;
}


/*--------------------------------------------------------------
# Checkout
--------------------------------------------------------------*/

#checkout-form-container .seperator {
	border-bottom: 1px solid #828282;
	margin-bottom: 30px;
	padding-bottom: 30px;
}

/* Order Summary */
#checkout-form-container {
    padding-right: 80px;
}
#order-summary-container {
    padding: 5px 20px;
    border: 1px solid #828282;
}
.woocommerce table.woocommerce-checkout-review-order-table {
	border-top: 1px solid #828282;
}
.woocommerce table.woocommerce-checkout-review-order-table tbody td {
    border-bottom: 1px solid #828282;
    padding: 10px 0;
}
.woocommerce table.woocommerce-checkout-review-order-table tbody td,
.woocommerce table.woocommerce-checkout-review-order-table tfoot td,
.woocommerce table.woocommerce-checkout-review-order-table tfoot th {
    border-top: none;
}
.woocommerce table.woocommerce-checkout-review-order-table tfoot td,
.woocommerce table.woocommerce-checkout-review-order-table tfoot th {
    padding: 5px 0;
}
.woocommerce td.product-name dl {
	margin-bottom: 0;
}
.woocommerce table.woocommerce-checkout-review-order-table td:nth-child(even) {
    text-align: right;
}
.woocommerce table.woocommerce-checkout-review-order-table td.product-name img {
    float: left;
    width: 50px;
    display: inline-block;
    margin-right: 15px;
}
.woocommerce td.product-name dl.variation {
    margin: 0;
   display: block;
}

.woocommerce td.product-name dl.variation dt {
  font-weight: 400;
}

.woocommerce td.product-name dl.variation dt.variation- {
	display: none;
}

.woocommerce td.product-name dl.variation dd.variation- {
	display: block;
	clear: left;
}

.woocommerce form .form-row label {
    line-height: 1em;
}
.woocommerce-checkout #payment {
    background: transparent;
    border-radius: 0;
}

#customer_details .billing-address-label:before {
    border-top: 1px solid #828283;
    content: "";
    display: block;
    margin-top: 20px;
    padding-bottom: 20px;
}
#customer_details .billing-address-label label {
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
#customer_details .billing-address-label input {
	display: none;
}

#ship-to-different-address:before {
    border-top: 1px solid #828283;
    content: "";
    display: block;
    padding-bottom: 29px;
}

#billing_country_field {
	display: none;
}

.select2-container .select2-choice {
    display: block;
    height: 40px;
    padding: 0 0 0 10px;
    overflow: hidden;
    position: relative;
    border: 1px solid #828283;
    white-space: nowrap;
    line-height: 38px;
    color: #444;
    border-radius: 0;
    background-image: none;
}
.select2-drop-active {
    border: inherit;
    border-top: none;
}

#checkout-form-container h3 {
    font-size: 20px;
    text-transform: uppercase;
}
#checkout-form-container h3 label {
	font-weight: 500;
}

/* Shipping text inline */

#customer_details #ship-to-different-address span {
    font-size: 0.6em;
}

.woocommerce form .form-row.woocommerce-validated .select2-container,
.woocommerce form .form-row.woocommerce-validated input.input-text,
.woocommerce form .form-row.woocommerce-validated select,
.woocommerce form .form-row.woocommerce-invalid .select2-container,
.woocommerce form .form-row.woocommerce-invalid input.input-text,
.woocommerce form .form-row.woocommerce-invalid select {
    border-color: inherit;
}
.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
    line-height: 1.2;
    padding: 10px 10px;
}








.btn-breadcrumb .show {
    color: #FF9E14;
    background-color: #efefef;
}
.btn-breadcrumb .btn.show.btn-default:not(:last-child):after {
    border-left: 10px solid #efefef;
}







